<link rel="shortcut icon" type="image/png" href="/assets/images/android-chrome-512x512-1-150x150.png">
{% I18n_Headers %}
<!--
 assigned in seo.html 
    <meta name="description" content="{{ page.description | default: site.description[site.active_lang] }}"> 
-->
<meta name="keywords" content="{{ page.keywords | default: site.keywords[site.active_lang] }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/fontawesome-free/css/all.min.css' | relative_url }}">