<div id="footer-links">
  <div id="footer__social-icons" class="page__footer-follow">
    {% if site.data.ui-text[site.locale].follow_label %}
    <p>
      <strong>{{ site.data.ui-text[site.locale].follow_label }}</strong>
    </p>
    {% endif %}
    <ul class="social-icons">
      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
  
      {% unless site.atom_feed.hide %}
        <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
      {% endunless %}
    </ul>
  </div>
  <div id="footer__contact">
    <p><strong>CONTACT US</strong></p>
    <p>email: <strong>info@ippocra.com</strong></p>
    <p>pec: <strong>ippocra@pec.it</strong></p>
  </div>
  <div class="footer__legal-links">
    <p><strong>LEGAL</strong></p>
    <div class="footer__legal-links-inner">
      <p><a href="/legal/terms/">Terms</a></p>
      <p><a href="/legal/policy/">Privacy Policy</a></p>
      <p><a href="/legal/cookies-policy/">Cookies Policy</a></p>
    </div>
  </div>
</div>
<div class="page__footer-copyright">&copy; {% assign site_time = site.time | date: '%Y' %}{% if site.footer.since and site_time != site.footer.since %}{{ site.footer.since }} - {% endif %}{{ site_time }} <a href="{{ site.copyright_url | default: site.url }}">{{ site.copyright | default: site.title | escape_once | strip }}</a> {% if site.languages and site.languages.size > 1 %}<span style="float: right;">{% assign default_lang = site.default_lang | default: site.locale | replace: "_", "-" | default: "en" %}{% assign lang = page.lang | default: site.active_lang | default: default_lang %}{% for tongue in site.languages %}<a {% if tongue == lang %}style="font-weight: bold;"{% endif %}{% static_href %}href="{% if tongue == default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %} >{{ tongue | upcase }}</a>{% if forloop.last == false %}{{" "}}{{ site.langsep }}{% endif %}{% endfor %}{% endif %}</span></div>