<div id="footer-links">
  <div id="footer__social-icons" class="page__footer-follow">
    {% if site.data.ui-text[site.locale].follow_label %}
    <p>
      <strong>{{ site.data.ui-text[site.locale].follow_label }}</strong>
    </p>
    {% endif %}
    <ul class="social-icons">
      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
  
      {% unless site.atom_feed.hide %}
        <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
      {% endunless %}
    </ul>
  </div>
  <div id="footer__contact">
    <p><strong>CONTACT US</strong></p>
    <p>email: <strong>info@ippocra.com</strong></p>
    <p>pec: <strong>ippocra@pec.it</strong></p>
  </div>
  <div class="footer__legal-links">
    <p><strong>LEGAL</strong></p>
    <div class="footer__legal-links-inner">
      <p><a href="/legal/terms/">Terms</a></p>
      <p><a href="/legal/policy/">Privacy Policy</a></p>
      <p><a href="/legal/cookies-policy/">Cookies Policy</a></p>
    </div>
  </div>
</div>
  <div class="page__footer-copyright">
    <b>&copy; 2026 <a href="{{ site.copyright_url | default: site.url }}">{{ site.copyright | default: site.title }}</a> -- P.I.: 03010040420</b> 
  </div>