/* --------------------------------------------------------------
   Buttons
   -------------------------------------------------------------- */
.shared-button-class {
    min-width: 10rem !important;
    min-height: 3rem;

    width: auto;
    display: inline-block;

    max-width: 12rem;

    border-radius: 9999px !important;
    padding: 0 1.5rem;
    transition:
        background-color .2s ease,
        box-shadow .2s ease,
        transform .1s ease;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        box-shadow:
            0 2px 4px -1px rgba(0, 0, 0, .2),
            0 4px 5px 0 rgba(0, 0, 0, .14),
            0 1px 10px 0 rgba(0, 0, 0, .12);
    }

    &:active {
        box-shadow:
            0 2px 4px -1px rgba(0, 0, 0, .2),
            0 4px 5px 0 rgba(0, 0, 0, .14),
            0 1px 10px 0 rgba(0, 0, 0, .12);
    }
}

.submit-button {
    @extend .shared-button-class;
    background-color: #000;
    color: #fff !important;
}

.secondary-button {
    @extend .shared-button-class;
    background-color: $color-secondary;
    color: $color-primary !important;
    border: 3px solid $color-primary;
}

.secondary-accent-button {
    @extend .shared-button-class;
    background-color: $color-secondary;
    color: $color-accent !important;
    border: 3px solid $color-accent;
}

.main-color-button {
    @extend .shared-button-class;
    background-color: $color-primary;
    color: #fff !important;
    border: none;
}

.hero-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.wide-button {
    max-width: 20rem !important;
}

.hero-button {
    max-width: 20rem !important;
}

/* --------------------------------------------------------------
   Toggle
   -------------------------------------------------------------- */
.toggle-container {
  margin-top: 1rem;
  margin-bottom: 0.75rem;

  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  justify-content: center;

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  padding: 5px;
}

.btn-toggle {
    min-width: 8rem !important;
    min-height: 3rem;

    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;

    color: #374151;
    background-color: #ffffff;

    border: 1px solid #dbe0e8;

    position: relative;
    z-index: 1;
}

.btn-toggled {
    outline: none;
    z-index: 10;
    background-color: $color-primary;
    color: #fff !important;
}

.btn-toggle:focus {
    outline: none;
    z-index: 10;
    background-color: $color-primary;
    color: #fff !important;

}

.btn-toggle-left {
    @extend .btn-toggle;
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
}

.btn-toggle-right {
    @extend .btn-toggle;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
}


@media (min-width: 640px) {
    .hero-button-container {
        flex-direction: row;
        gap: 0;
        column-gap: 1.5rem;
    }

    .hero-button {
        max-width: 12rem !important;
    }
}