.icon-grid {
  display: grid;
  gap: 1.5rem;

  grid-template-columns: 1fr;
}

.small-icon-size {
  font-size: 2em;
}

@media (min-width: 640px) {
  .icon-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .small-icon-size {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  .icon-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .icon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}