.section-container {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.section-common {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
}

.section-blank {
    @extend .section-common;
    background-color: #fff;
}

.section-transparent {
    @extend .section-common;
}

.section-accent-soft-gradient {
    @extend .section-common;
    background: radial-gradient(
            farthest-corner at 0 0,
            rgba($color-accent, 0.15) 0%,
            rgba($color-accent, 0.0) 50%
        );

    background-repeat: no-repeat;
    background-size: cover;
}

.section-main-soft-gradient {
    @extend .section-common;
    background: radial-gradient(
            farthest-corner at 0 0,
            rgba($color-primary, 0.15) 0%,
            rgba($color-primary, 0.0) 50%
        );

    background-repeat: no-repeat;
    background-size: cover;
}

.section-main-hard-gradient {
    @extend .section-common;
    color: #fff;
    background: linear-gradient(
            135deg,
            rgba($color-primary, 1) 0%,
            rgba($color-primary, 0.45) 100%
        );

    background-repeat: no-repeat;
    background-size: cover;
}

.section-main {
    @extend .section-common;
    color: #fff;
    background-color: $color-primary;
}


@media (min-width: 640px) {
    .section-common {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .section-container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 768px) {
    .section-common {
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .section-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


@media (min-width: 1024px) {
    .section-common {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    .section-container{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}