---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



#hero-headline {
    font-size: $h-size-2;
    font-weight: bold;
    
    text-align: center;
    //font-size: large;
}

#hero-paragraph {
    //font-weight: 700;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#register-call {
    font-size: $h-size-2;
}

.headline-title-pages {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#footer {
    background-color: #439ba6;
}

#footer-links {
    display: flex;
    justify-content: space-between;
}


.page__footer-follow {
  
    li {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: $sans-serif-narrow;
      font-size: $type-size-6;
      text-transform: uppercase;
    }
}

#footer__legal-links li {
    
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
    list-style-type: none;
    text-decoration: underline;
    margin-left: -35px;
    
}

#footer__contact {
    font-size: 0.75em;
}

.page__footer-copyright{
    text-align: center;
}

@media all and (max-width:800px) //800px for tablets and phones.
{
    #footer-links
    {
        flex-direction: column;
    }
}

// PRICING 

table {
  width: 100%;
}

thead {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 0.5em;
  background-color: $background-color;
}

th {
  padding: 0.5em;
  font-weight: bold;
}

td {
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
  font-size: 0.75em;
}

tr,
td,
th {
  vertical-align: middle;
}


.checkmark {
  color: green;
  font-size: 1.2em;
  font-style: bold;
}

.red_x {
  color: red;
  font-size: 1.2em;
}
