---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



#hero-headline {
    font-size: $h-size-2;
    font-weight: bold;
    
    text-align: center;
    //font-size: large;
}

#hero-paragraph {
    //font-weight: 700;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#register-call {
    font-size: $h-size-2;
}

.headline-title-pages {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#footer {
    background-color: #439ba6;
}

#footer-links {
    display: flex;
    justify-content: space-between;
}


.page__footer-follow {
  
    li {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: $sans-serif-narrow;
      font-size: $type-size-6;
      text-transform: uppercase;
    }
}

#footer__legal-links li {
    
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
    list-style-type: none;
    text-decoration: underline;
    margin-left: -35px;
    
}

#footer__contact {
    font-size: 0.75em;
}

.page__footer-copyright{
    text-align: center;
}

@media all and (max-width:800px) //800px for tablets and phones.
{
    #footer-links
    {
        flex-direction: column;
    }
}

#pricing {
    box-sizing: border-box;
  
  /* Container for flexboxes */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns */
  .column {
    flex: 20%;
    padding: 5px;
    font-size: 0.75em;
  }
  h2 {
    text-align: center;
  }

  .headline_pricing {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
  }
  
  .pricing_info {
    text-align: center;
    border-bottom: 1px solid #cfd4d3;
    padding-bottom: 0.5em;
  }
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }
}